<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input 
          #filterInput
          type="text" 
          class="input" 
          placeholder="filter"
          (keyup)="filter($any($event).target.value)">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="note-list">
    <app-note-card 
      [title]="note.title"
      [body]="note.body"
      *ngFor="let note of filteredNotes"
      [link]="generateNoteURL(note)"
      (delete)="deleteNote(note)"></app-note-card>
  </div>

  <button 
    class="button floating-add-button is-primary"
    routerLink="new">+ Add</button>
</div>
